## Analyzing general socioeconomics and its relation to student performances

### Based on results, infer ideas and concepts that influence student scores

### Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("StudentsPerformance.csv")

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [3]:
print(df.shape) #size of data

df.describe() #statistics on numeric data of dataframe

(1000, 8)

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Given the summary above, let's say that the passing mark of the exam is 55.

In [4]:
passMark = 55

In [5]:
df['Passed_Math'] = np.where(df['math score'] < passMark, 'F', 'P')
df['Passed_Reading'] = np.where(df['reading score'] < passMark, 'F', 'P')
df['Passed_Writing'] = np.where(df['writing score'] < passMark, 'F', 'P')

In [6]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Passed_Math,Passed_Reading,Passed_Writing
0,female,group B,bachelor's degree,standard,none,72,72,74,P,P,P
1,female,group C,some college,standard,completed,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,47,57,44,F,P,F
4,male,group C,some college,standard,none,76,78,75,P,P,P

#### Students Pass-Fail Math scores

In [21]:
percentMath = (df['Passed_Math']=='P').sum() / (len(df.index))
print('Math Score: %.2f%%' % (percentMath*100))

df.Passed_Math.value_counts()

Math Score: 77.90%

P    779
F    221
Name: Passed_Math, dtype: int64

#### Students Pass-Fail Reading scores

In [25]:
percentReading = (df['Passed_Reading']=='P').sum() / (len(df.index))
print('Reading Score: %.2f%%' % (percentReading*100))

df.Passed_Reading.value_counts()

Reading Score: 84.00%

P    840
F    160
Name: Passed_Reading, dtype: int64

#### Students Pass-Fail Writing scores

In [26]:
percentWriting = (df['Passed_Writing']=='P').sum() / len(df.index)
print('Writing Score: %.2f%%' % (percentWriting*100))

df.Passed_Writing.value_counts()

Writing Score: 79.70%

P    797
F    203
Name: Passed_Writing, dtype: int64

#### Considering that most institution's passing rates among classes is 80%, the scores of the students reflect an average ratio of pass/fail